:root {
  --branding-color:#6c63ff;
  --secondary-color:rgb(31, 31, 36);
  --third-color: white;
  --heading-fontfamily:raleway, system-ui;
  --default-fontfamily:"Poppins",sans-serif;
}
body {
    font-family:var(--default-fontfamily);
     font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    color: white;
}
nav {
  /* background-color: var(--secondary-color); */
  padding: 20px 0;
}
h1 {
  font-size: 96px;
  font-family: var(--heading-fontfamily);
  line-height: 1.5;
  
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
  color: var(--secondary-color);
}
p {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  text-align: center;
  color: var(--third-color);
   background-color:var(--secondary-color);
   padding: 160px 20px;

}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: aliceblue;
}
 .hero h3 {
  font-size: 30px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4;
}
.logo {
  max-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none; 
  line-height: 42px;
  font-size: 16px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li:active a{
  color:var(--branding-color);
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}

.content h1 {
  color: var(--secondary-color);
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  color: var(--secondary-color);
  font-size: 18px;
  font-family: var(--default-fontfamily);
}
.content h3 {
   color: var(--secondary-color);
  font-size: 24px;
  font-family: var(--default-fontfamily);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {

   color: var(--secondary-color);
  font-size: 14px;
  margin: 0;
}
.project3d {
  color: var(--secondary-color);
  font-weight: 500;

}
.btn-branding-white {
  background-color: var(--branding-color);
  color: var(--third-color);
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
}
.btn-branding {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
}
.btn-branding-outline {
  background-color: var(--third-color);
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-footer {
  background-color: var(--branding-color);
  color: #e5e1fa;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
}
.btn-branding-footer:hover {
  background-color: var(--branding-color);
  color: var(--secondary-color);
}
.project-description {
  padding: 120px 60px;
}

footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: #e5e1fa;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: #e5e1fa;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
  font-size: 44px;
}
h4 {
  font-size: 26px;
}

.hero {

   padding: 80px 10px;

}
 .hero h3 {
  font-size: 18px;
}
  .project-description{
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
footer .contact-box {
  padding: 30px;
}
  
}